* {
  box-sizing: border-box;
}

/* Add a dark background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #1e1a25;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: left;
  background: transparent;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Thumbnail for the blog entry previews */
.thumbnailimg {
  background-color: black;
  image-rendering: auto;
  width: 288px;
  height: 202px;
}

/* Add a card effect for article boxes */
.blogcard {
 filter: drop-shadow(5px 5px 0px rgb(255, 255, 255));
 padding: 20px;
}

.innerblogcard {
   background-color: rgb(12, 13, 16);
   clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 40%, 75% 0);
   padding: 20px;
}


/* Add a card effect for sidebar boxes */
.card {
   background-color:rgb(12, 13, 16);
   padding: 20px;
   margin-top: 20px;
   clip-path: polygon(30% 0%, 100% 0%, 100% 100%,  0% 100%, 0% 30%);
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #211b2b;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

.container {
    max-width: 60%;
    margin: 0 auto;
}