* {
  box-sizing: border-box;
}

.leftcolumn,
.rightcolumn,
.container,
.row {
  position: relative;
}

/* Add a dark background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: transparent;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: left;
  background: transparent;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.blog-entry-wrapper {
  position: relative;
  width: 100%;
}

.thumbnail-container {
  position: relative;
  height: 0;
}

.thumbnailimg {
  position: absolute;
  top: -40px;
  left: 20px;

  float: none; /* IMPORTANT */
  z-index: 10;

  width: 288px;
  height: 202px;

  outline: 1px solid #fff;
  background: black;
}

.blogEntryTitle {
  transform: translate(350px);
}

.blogcard {
  transform: translateY(-20px);
  filter: drop-shadow(6px 10px 0px #59ffff2f);

  padding-bottom: 100px;
  padding-right: 20px;
  padding-top: 40px;

  position: relative;
  z-index: 1;
}

.innerblogcard {
  background-color: rgb(12, 13, 16);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 40%, 75% 0);
  padding: 20px;
}


/* Add a card effect for sidebar boxes */
.card {
   background-color:rgb(12, 13, 16);
   padding: 20px;
   margin-top: 20px;
   clip-path: polygon(30% 0%, 100% 0%, 100% 100%,  0% 100%, 0% 30%);
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #211b2b;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

.container {
    max-width: 60%;
    margin: 0 auto;
}

h1, h2 {
  font-family: 'Orbitron', sans-serif;
  color: #59FFFF;
}

h3, h4, h5, h6 {
  font-family: 'Orbitron', sans-serif;
}