* {
  box-sizing: border-box;
}

.row {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  gap: 40px;
}

.leftcolumn{
  float: none;
  width: fit-content;
  height: 750px;

  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior:smooth;
  padding-top:80px;

  background-image: linear-gradient(to bottom, #1c204d3a, #1c204d00, #1c204d3a );

}

.rightcolumn {
  float: none;
  width: fit-content;
  height: 750px;
}

/* Add a dark background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: transparent;
  
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: left;
  background: transparent;
  margin-bottom: 3%;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  
}

.thumbnailimg {
  position: absolute;
  top: -40px;
  left: 20px;

  float: none; /* IMPORTANT */
  z-index: 10;

  width: 288px;
  height: 202px;

  outline: 1px solid #fff;
  background: black;
}

.title-wrapper {
  transform: translate(0, -25px);
}

.blogEntryTitle {
  position:static;
}

.blogEntrySub {
  transform: translate(0, -60px);
  position:static;
}

.blogEntryDesc {
  transform: translate(-40px);
  color: rgb(179, 179, 179);
  position: static;

  overflow-wrap: break-word;
}

.blogcard {
  transform: translateY(-20px);
  filter: drop-shadow(6px 10px 0px #59ffff2f);
  
  padding-right: 20px;
  padding-top: 40px;
  margin-bottom: 100px;
  width: 100%;
  max-width: 900px;

  z-index: 1;
  
  transition: transform 0.08s ease-in-out, filter 0.08s ease-in-out;
;
}

.blogcard:hover {
  transform: scale(1.001);

  filter: drop-shadow(6px 10px 0px #59ffffb0);
}

.innerblogcard {
  background-color: #0C0D10;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 40%, 75% 0);

  padding-left: 340px; /* image width + spacing */
  padding-top: 20px;
  padding-right: 20px;

  min-height: 260px;
  max-height: fit-content;
  width: 100%;
  border-style: solid;
  border-color: white;

}



/* Add a card effect for sidebar boxes */
.card {
   background-color:rgb(12, 13, 16);
   padding: 20px;
   margin-top: 20px;
   clip-path: polygon(30% 0%, 100% 0%, 100% 100%,  0% 100%, 0% 30%);
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #0C0D10;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

.container {
    max-width: 60%;
    margin: 0 auto;
}

h1, h2 {
  font-family: 'Orbitron', sans-serif;
  color: #59FFFF;
}

h3, h4, h5, h6 {
  font-family: 'Fragment Mono', sans-serif;
  font-size: medium;
  font-weight: bold;

  color: #4975AE;
}
